<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello! </h1>
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Click Here to View the Task</h5>
                    <a href="/tasks" class="btn btn-primary">View Tasks</a>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">Click Here to View the Projects</h5>
                    <a href="/projects" class="btn btn-primary">View Projects</a>
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">Click Here to View the Users</h5>
                    <a href="/users" class="btn btn-primary">View Users</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>